* {
    box-sizing: border-box;
    font-family: open sans;

}
html {
    font-size:100%;
}
/* structure elements */
body {
    font-size: 1.2em;
    line-height: 1.25;
    display: flex;
    flex-direction:column;
    transition: 1s;
    margin: 0;
}
nav{
    margin: 1em 0 2em 2em ;
}
body > header{
    background-color: #f7dd82;
}

body > header img {
  width: 12em;
  margin: 0 2em;
  float: right;
}
@media screen and (max-width: 64em) {
  body > header img {
    width: 10em;
    margin: 2em;
    float: left;
  }
}

body > header h1{
    margin: 0.5em 1em;
    text-shadow: 2px 2px black;
}

body > header p  {
    margin: 0 0 2.5em 2.5em;
}

body > header nav ul li a {
	background: #ffcc00;
	padding: 1em;
	text-decoration: none;
	color: black;
	border-radius: 0.4em;
	margin-bottom: 0.2em;
	transition: transform 0.2s;
}



header {
    order: 1;
}

main {

    order: 2;
}

body > main h1{
	text-align: center;
	background-color: #ffcc00;
	border-radius: 1em 1em 0 0;
	margin:.5em auto;
	display: inline-block;
  width: 100%;
}

main > article{width: 70%;margin: 0 auto;}


body > section {
    order:3;
}

section > h3{
    text-align: center;
    background-color: #ffcc00;
	  border-radius: 1em 1em 0 0;
    margin:.5em auto;
    display: inline-block;
    width: 100%;
}

section > article{
    box-shadow: 10px 10px 5px #888888;
    background-color: #ffcc00;
    margin: 2em 2em 2em 5em;
    padding: 1em 1em 1em 1em;
}

section > article:hover{
transform: rotate(3deg);
}
section >  h2{
    margin: 1em 1em 1em 5em;
}

  body{flex-wrap:wrap;}

    body > header {
        width:100%;
        padding: 0 0 0 0;
    }
    section.related {
        display:flex;
        flex-wrap:wrap;
    }
    section.related > h2 {
        width:100%;
    }

    section.info > article{
        max-width: 33.33333%;
    }

    section.info {
        display:flex;
        flex-wrap:wrap;
    }
    section.info > h2{
        width: 100%;
    }

    section.events{
        display: flex;
        flex-wrap: wrap;
    }

    section.events > h2{
        width: 100%;
    }

    section.events > article {
        max-width:33.3333%;
    }

aside {
    order:4;
}

aside article {
        order: 3;
}

body > footer section, body > footer > p  {
	flex-basis: 15em;
	background: #ffcc00;
	padding: 2em;
	margin: 1em;
}

footer > section h2{
    color:#363738;

}

body > footer {
	/* padding: 2em 10em; */
	clear: both;
	display: flex;
	flex-wrap: wrap;
	background: #f7dd82;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
	order:5;
}


/* base elements */
h1 {
    color: #363738;
    font-size:2em;
}
h2 {
    color: #363738;
    font-size: 1em;
}
h3 {
    color: #363738;

}

img{
    width: 80%;
}

p {
    font-size: .8em;
}
.to-profile{
    margin-left: 3em;
}


ul {
    padding:0;

}
/*
li {
    margin:.5em .5em .5em 0;
    display: inline-block;
}
*/

a {
    font-size: .8em;
    color: black;
    text-decoration: none;
}
a:hover{
    background-color: #f9db63;
    box-shadow: 1px 1px 10px 1px grey;
}
a:visited {
    color: blue;
}
a:active {
    color: green;
}
div ~ p {
    border-radius: 0.5em;
}

/* form elements */

form {
	padding: 0px 1em;
	font-size: 1em;
	background: none;
}

.verzonden {
    background-color: #9eda9e;
    padding: 1em;
}

article label, article textarea {
    padding-top: 1em;
    display: block;
}

input[type="submit"], button[type="submit"]  {
    margin-top: 1em;
    padding: 1.4em;
    border: none;
    background-color: #bdbebe;
    box-shadow: 1px 0px 3px 2px white;
    opacity:0;
    transition: 0.5s;
}

form:valid input[type=submit]{
    transition: 0.5s;
    opacity:1
}

input[type="search"]{
    background-color: white !important;
    padding: 1em;
    font-size: .7em;
    border: none;
}
@media screen and (min-width: 40em) {
  button[type="submit"] {
    margin: 2.5em 0 0 0;
  }
}
@media screen and (min-width: 64em) {
  button[type="submit"] {
    margin:  0 0 2.5em 0;
  }
}

button:focus, input[type="submit"]:focus{
 color: grey;
}

button:active, input[type="submit"]:active {
    color: #fff3c9;
}

button:hover, input[type="submit"]:hover {
    color: #6868f7;
}

/* field states */

fieldset:valid {
    background-color: #b9ffb9;
}

fieldset:invalid {
    background-color: #ffd6d6;
}

input:invalid {
    background-color: #f18e8e;
}

input:valid {
    background-color: #92dc92;
}

input:focus, textarea:focus {
     transform: scale(1.05);
     outline-color: #ffcc00;
}

input:disabled {
  border-color:#d8d7d7;
}

input:placeholder {
  color: lightgrey;
}

fieldset:invalid .formstatus {
  display: none;
}

fieldset:valid .formstatus {
  display: block;
  color: white;
  background-color: #539b53;
  padding: 1em;
  border-radius: 0.5em;
}

form:valid input[type=submit] {
    display: block;
    transition: 0.5s;
}

.flex {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.flex-nav {
     flex-wrap: wrap;
}

.flex img {
    margin-top: 2em;
}

/* tablet en mobiel navigatie */
.mobile-nav nav {
  margin: 0;
}
.mobile-nav img {
    width: 12em;
    float: left;
    margin: 1em 0 1em 2em;
}
.logo_text {
  float:left;
}


.menu-links li {
	display: block;
  list-style-type: none;
}

.menu-links a {
    color: white;
}


@media screen and (min-width: 40em){
  ul li {
    list-style-type: none;
    display: inline-block;
  }
}
#menu {
  display: none;
  width: 100%;
  float: left;
  margin: 0;
}
@media screen and (max-width: 40em) {
  nav {
    margin: 0;
  }
  #menu li a {
    width: 100%;
    display: block;
    background-color: #ffcc00;
    color: #fff;
    font-size: 1em;
    padding: 1em;
    transition: background 0.2s;
    text-decoration: none;
    margin: 0;
    border-radius: 0;
  }
  #menu li {
    list-style-type: none;
  }
  #menu li:not(:first-child) {
    border-top: 1px solid #333;
  }
  .headWrapper h1,
  .headWrapper p,
  .headWrapper form{
    display: none;
  }
}
@media screen and (max-width: 64em) {
  .headWrapper h1,
  .headWrapper p {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .hamburger-container {
    display: none;
  }
  #menu {
    display: inline;
  }
  #menu li {
    display: inline-block;
  }
  .headWrapper nav {
    float:left;
    clear:left;
  }
}
@media screen and (min-width: 87em) {
  .headWrapper {
    width: 70%;
    margin: 0 auto;
  }
}
.hamburger li {
  height: 5px;
  background: #fff;
  content: "";
  position: relative;
  transition: 0.25s ease-in-out;
  margin: 0;
  list-style-type: none;
}
.hidden {
  opacity: 0;
}
.rot45deg {
  transform: rotate(45deg);
  top: 10px !important;
}
.rot-45deg {
  transform: rotate(-45deg);
}
.hamburger {
  display: block;
}
.hamburger li:nth-child(1) {
  top: 0;
}
.hamburger li:nth-child(2) {
  top: 5px;
}
.hamburger li:nth-child(3) {
  top: 10px;
}
.hamburger-container {
  width: 38px;
  margin: 1em 1.6em 1.2em;
  height: 30px;
  cursor: pointer;
  float: right;
}

.desktop-header, .flex-nav, .tablet-header{
    display: none;
}

/*Go to*/
    #knop {
      position: fixed;
      bottom: 1em;
      float: right;
      right: 1em;
      font-size: 1em;
      border-color: #ffcc00;
      background-color: #ffcc00;
      border-radius: 0.5em;
      padding: 0.5em 1em;
    }

   

/* algemeen */
.verborgen {
    display: none;
}

/* breakpoints */

@media screen and (min-width: 40em){
    section.related > article {
        max-width:50%;
    }
}
.show {
  display: block;
}
.headerForm {
  float: right;
}
.headerForm nav {
  float:left;
}
